<p>Pick your dates</p>

<%= form_tag dashboard_path, method: :get do %>
  <div style="position: relative">
    <%= text_field_tag :start_date, "", id: "datetimepicker1" %>
  </div>
  <div style="position: relative">
    <%= text_field_tag :end_date, "", id: "datetimepicker2"  %>
  </div>
  <%= submit_tag :submit %>
<% end %>

<% content_for(:after_js) do %>
  <script type="text/javascript">
    $('#datetimepicker1').datetimepicker( {format: "YYYY/MM/DD" } );
    $('#datetimepicker2').datetimepicker( {format: "YYYY/MM/DD" } );
  </script>
<% end %>
