<div class="grid-dashboard__index">
  <h2 class="section-main-title section-title">My Crops Trends</h2>
	<div class="section-main">
    <% current_user.crops.each do |crop| %>

      <%= render 'trend_card', product: crop.product %>

    <% end %>
	</div>
  <h2 class="section-sidebar-title section-title">Utilities</h2>
	<div class="section-sidebar grid__utilities">

    <%= render 'utilities' %> 

	</div>
</div>

<% content_for(:after_js) do %>
  <script>
    $('.js-trend__card').on('click', function(){
      $(this).next().toggleClass('hidden');
    });
  </script>
<% end %>
