// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Raleway:300,700");

// Define fonts for body and headers
$body-font: "Open Sans", "Helvetica", "sans-serif";
$headers-font: "Raleway", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// ********************************
// PRODUCTS ICON FONTS
// ********************************

@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?4v8unp');
  src:  url('icomoon.eot?4v8unp#iefix') format('embedded-opentype'),
    url('icomoon.ttf?4v8unp') format('truetype'),
    url('icomoon.woff?4v8unp') format('woff'),
    url('icomoon.svg?4v8unp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ic-"], [class*=" ic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-apples:before {
  content: "\e900";
}
.ic-apricots:before {
  content: "\e901";
}
.ic-asparagus:before {
  content: "\e902";
}
.ic-beans:before {
  content: "\e903";
}
.ic-cabbages:before {
  content: "\e904";
}
.ic-carrot:before {
  content: "\e905";
}
.ic-cauliflowers:before {
  content: "\e906";
}
.ic-cherries:before {
  content: "\e907";
}
.ic-cucumbers:before {
  content: "\e908";
}
.ic-eggplants:before {
  content: "\e909";
}
.ic-garlic:before {
  content: "\e90a";
}
.ic-grapes:before {
  content: "\e90b";
}
.ic-kiwis:before {
  content: "\e90c";
}
.ic-lemons:before {
  content: "\e90d";
}
.ic-lettuces:before {
  content: "\e90e";
}
.ic-melons:before {
  content: "\e90f";
}
.ic-mushrooms:before {
  content: "\e910";
}
.ic-onions:before {
  content: "\e911";
}
.ic-oranges:before {
  content: "\1f31e";
}
.ic-peaches:before {
  content: "\e913";
}
.ic-pears:before {
  content: "\e914";
}
.ic-peppers:before {
  content: "\e915";
}
.ic-strawberries:before {
  content: "\e916";
}
.ic-tomatoesround:before {
  content: "\e917";
}
.ic-watermelons:before {
  content: "\e918";
}
