// ***********************
// Utilities Grid
// ***********************

.grid__utilities {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-template-rows: repeat(3, minmax(120px, max-content));
  grid-gap: 15px;
}

.utility__card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: $primary-color;
}

.utility__icon i {
  font-size: 3em;
}

.utility__data {
  font-size: 2.5em;
  font-weight: 700;
}

// ***********************
// Trends Grid
// ***********************

.trend__card {
	display: grid;
	grid-template-areas:
		"icon name c-title n-title arrow"
		"icon name c-value n-value arrow";
	align-items: center;
	justify-content: space-around;
	padding: 1.2em 0.8em;
}

// GRID SECTIONS

.trend {
	margin-bottom: 15px;
}

.trend__icon {
	grid-area: icon;
	font-size: 4em;
}

.trend__name {
	grid-area: name;
	font-size: 1.4em;
	font-weight: 700;
}

.trend__current__title {
	grid-area: c-title;
}

.trend__current__value {
	grid-area: c-value;
	color: $support-current-color;
}

.trend__next__title {
	grid-area: n-title;
}

.trend__next__value {
	grid-area: n-value;
}

.trend__arrow {
	grid-area: arrow;
}

.trend__current__title,
.trend__next__title {
	margin-top: 0.4em;
	margin-bottom: 0.6em;
	text-transform: uppercase;
	font-size: 0.7em;
	letter-spacing: 0.2em;
	color: $primary-text-color;
}

.trend__current__value,
.trend__next__value {
	font-size: 1.6em;
	font-weight: 700;
	text-align: center;
}

.trend--status--up {
	color: $primary-color;
}

.trend--status--stable {
	color: $support-stable-color;
}

.trend--status--down {
	color: $support-down-color;
}
