<div class="banner" style="background-image: linear-gradient(335deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.2) 50%), url('<%= image_path 'bg/header-bg__farmer__hand.jpg' %>');">
  <div class="banner-content">
    <h1>connecting agriculture through knowledge</h1>
    <p>gocrops empowers you to keep track of your products and make better decisions</p>
    <%= link_to "Try it now", new_user_registration_path, class:"banner__cta btn-primary-cta" %>
  </div>
</div>
