<div class="banner" style="background-image: linear-gradient(335deg, rgba(52, 171, 26, 0.1) 0%, rgba(88, 233, 52, 0.2) 50%), url('<%= image_path 'bg/header-bg.jpg' %>');">
  <div class="banner-content">
    <h1>connecting agriculture through knowledge</h1>
    <p>gocrops empowers you to keep track of your products and make better decisions</p>
    <a class="btn-cta">Try it now</a>
  </div>
</div>
