<div class="footer">
  <div class="footer-links">
    <%= link_to "#", class: "navbar-wagon-brand" do %>
      <%= image_tag "logo-gocrops-white-slim.png" %>
    <% end %>
    <a href="https://github.com/luizgzn/gocrops.com" target="_blank">dev/ <i class="fa fa-github"></i></a>
    <a href="http://www.gocrops.com/api/v1/crops?latitude=-20.819732&longitude=-49.314315" target="_blank">api/ <i class="fa fa-code" aria-hidden="true"></i></a>

  </div>
  <div class="footer-copyright">
    Made with <i class="fa fa-heart"></i> at Le Wagon
  </div>
</div>
