<%= simple_form_for @crop, url: dashboard_crop_path(@crop) do |f| %>
    <div id="harvests">
      <div class="links">
        <%= link_to_add_association 'Add New Harvest', f, :harvests, class: "btn btn-primary" %>
        <%= f.button :submit, "Update Schedule", class: "btn btn-success" %>
      </div>
    </div>
<% end %>
