/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0 !important;
  text-align: center;
  color: white;
}
.alert-dismissible .close {
  top: 0 !important;
  padding: 0 1.25rem !important;
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}
