.banner {
  color: white;
  width: 100%;
  height: calc(100vh - 70px);
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-content {
  padding: 1.2em;
}

.banner h1 {
  font-size: 1.6em;
  font-weight: 700;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.3);
}
.banner p {
  font-size: 1em;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
}

@media (min-width: 550px) {
  .banner {
    justify-content: flex-end;
  }

  .banner h1 {
    font-size: 2.5em;
  }

  .banner p {
    font-size: 1.5em;
  }

  .banner-content {
    max-width: 500px;
    margin-right: 2em;
  }

  .banner__cta {
    padding: 0.8em 3.6em;
    font-size: 1.5em;
    // width: 160px;
  }

}
