.banner {
  color: white;
  text-align: left;
  height: calc(100vh - 70px);
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-content {
  padding: 1.2em;
  // margin-left: 2em;
}

.banner h1 {
  font-size: 1.6em;
  font-weight: 700;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.3);
}
.banner p {
  font-size: 1em;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
}
